{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "**/*.{ts,tsx,cts,mts}",
            "options": { "parser": "typescript" }
        },
        {
            "files": "**/*.{js,cjs,mjs}",
            "options": { "parser": "babel" }
        }
    ]
}
